---
layout: default
---
<script src="../assets/js/post-modals.js"></script>
<div class="catalogue">
  {% for post in paginator.posts %}
  <!-- Make modal -->
    <div id="{{ post.url }}" class="modal">
      <div class="modal-post">
        <span class="modal-post-close">&times;</span>
        <iframe src="{{ post.url | prepend: site.baseurl }}"></iframe>
      </div>
    </div>
  <!-- Make post card -->
    <div class="catalogue-item" onclick="handleCatalogueClick('{{ post.url }}')">
        <time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: "%B %d, %Y" }}</time>
        <h1 class="catalogue-title">{{ post.title }}</h1>
        <div class="catalogue-line"></div>
        <p>
        {{ post.description | truncatewords: 15}}
        </p>
    </div>
  {% endfor %}
</div>

<div class="pagination">
  <div class="flex-container">
    <div>
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}"><i class="fas fa-angle-left"></i>&nbspNewer</a>
      {% endif %}
    </div>
    <div>
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older&nbsp<i class="fas fa-angle-right"></i></a>
      {% endif %}
    </div>
  </div>
</div>
